# Prerequisites
*.txt
*.json
*.gif
*.jpg
*.png
*.md
*.py
*..mxproject
*.ini
*.d
*.ioc
*.htm
*.crf
*.uvoptx
*.uvprojx
*.lnp


# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.axf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd

.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#GCC & vscode
/.vscode
/build
/ideScripts
/MDK-ARM
/MDK-ARM/.vscode/uv4.log
/MDK-ARM/.vscode/uv4.log.lock
/FreeRTOSLVGL

# Keil MDK
*.uvguix.*
*.dep
*.build_log.htm
